html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #ffffff;
}

.screen-container {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
    /* margin: auto;
    width: 50%;
    padding: 100px; */
    color: #38abd1;
}


gol-toolbar {
    background-color: #353c41;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
}

canvas {
    background-color: #ffffff;
    /* border: 1px solid #adadad;
    background-color: #ffffff;
    color: #d3cb88; */
}
